<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! No tienes suficientes permiso para acceder a esta pagina.</h3>

            <p>
                En caso de necesitar acceder, favor contactar un administrador.
               Mientras tanto puedes <a href="@Url.Action("Index", "Home" )">regresar al inicio.</a> 
            </p>

        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
   
    </div>
</section>

