@model IEnumerable<OpticSolutions.Repositories.Entitys.Orders>

@{

}

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="box box-primary box-solid ">
    <div class="box-header">
        <h2><i class="fa fa-archive"></i> Facturas</h2>
    </div>
    <div class="box-body">
        <table class="hover stripe table-bordered" width="100%" cellspacing="0" id="orders">
            <thead>
                <tr>
                    <th>
                        Id Factura
                    </th>
                    <th>
                        Fecha de creacion
                    </th>

                    <th>
                        Estado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td>
                            @item.CreatedDate
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStatusDescription)
                        </td>
                        <td>
                            @Html.ActionLink("Mostrar Detalles", "ViewOrder", new { OrderId = item.OrderId }, new { @class = "btn btn-success" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

</div>

<br />




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript">

                $(document).ready(function () {

                    $('#orders').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ]
                    });
                });

</script>